<!DOCTYPE html>
<html>
  <head>
    <title>Football</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <h2>Navigation</h2>
    <ul>
        <li><%= link_to 'Create Users', users_path %></li>
        <li><%= link_to 'Create Teams', teams_path %></li>
        <li><%= link_to 'Assign Team Users', team_users_path %></li>
        <li><%= link_to 'Create Matches', matches_path %></li>
        <li><%= link_to 'Create Games', games_path %></li>
    </ul>
  <nav>
  <hr>

  <body>
    <h2>Content</h2>
    <%= yield %>
  </body>
</html>
