<%= form_for(team_user) do |f| %>
  <% if team_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_user.errors.count, "error") %> prohibited this team_user from being saved:</h2>

      <ul>
      <% team_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.collection_select(:team_id, Team.order(:name), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.order(:last_name), :id, :last_name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
