<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_user.team.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @team_user.user.last_name %>
</p>

<%= link_to 'Edit', edit_team_user_path(@team_user) %> |
<%= link_to 'Back', team_users_path %>
