<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :match_id %>
    <%= f.collection_select(:match_id, Match.order(:id), :id, :id) %>
  </div>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.collection_select(:team_id, Team.order(:name), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :opponent_id %>
    <%= f.collection_select(:opponent_id, Team.order(:name), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :team_score %>
    <%= f.number_field :team_score %>
  </div>

  <div class="field">
    <%= f.label :opponent_score %>
    <%= f.number_field :opponent_score %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
