<p id="notice"><%= notice %></p>

<h1>Games</h1>

Match data will automatically update when we have a winning team.
<br>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Team</th>
      <th>Opponent</th>
      <th>Team score</th>
      <th>Opponent score</th>
      <th>Winner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.match.id %></td>
        <td><%= game.team.name %></td>
        <td><%= game.opponent.name %></td>
        <td><%= game.team_score %></td>
        <td><%= game.opponent_score %></td>
        <td><%= game.winner %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
