<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @game.team.name %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent.name %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @game.team_score %>
</p>

<p>
  <strong>Opponent score:</strong>
  <%= @game.opponent_score %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
